h1 {
  color: blue;
  text-align: center;
}

h2 {
  color: blue;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  
}

h3 {
  color: blue;
  text-align: center;
}

img.personal  {
  width: 15%;
  height: auto;
  float: left;
  padding: 8px;
  margin-left: 40px;
}

img.professional {
  width: 15%;
  height: auto;
  float: right;
  padding: 8px;
  margin-right: 40px;
}

.personalsidebar {
  width: 40%;
  float: center;
}

.professionalsidebar {
  width: 20%;
  float: right;
}

#footer {
  clear: both;
}