h1 {
  color: blue;
  text-align: center;
}

h2 {
  color: blue;
  text-align: center;
}

img.personal  {
  width: 15%;
  height: auto;
  float: left;
  padding: 8px;
}

img.professional {
  width: 15%;
  height: auto;
  float: right;
  padding: 8px;
}

.personalsidebar {
  width: 60%;
  float: center;
}

.professionalsidebar {
  width: 40%;
  float: right;
}

#footer {
  clear: both;
}